<aside class="app-sidebar" id="sidebar" [ngClass]="{ 'sticky-pin': scrolled }">

  <!-- Start::main-sidebar-header -->
  <div class="main-sidebar-header">
    <a routerLink="/dashboard/crm" class="header-logo">
      <img src="./assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-logo">
      <img src="./assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-logo">
      <img src="./assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-dark">
      <img src="./assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-dark">
      <img src="./assets/images/brand-logos/desktop-logo.png" alt="logo" class="desktop-white">
      <img src="./assets/images/brand-logos/toggle-logo.png" alt="logo" class="toggle-white">
    </a>
  </div>

  <div>
    <ngx-simplebar [options]="options" class="main-sidebar" id="sidebar-scroll">
      <nav class="main-menu-container nav nav-pills flex-column sub-open">

        <div class="slide-left" id="slide-left">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
            <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
          </svg>
        </div>

        <ul class="main-menu">
          @for(menuItem of menuItems; track $index){

          <li class="slide"
              [ngClass]="{
                'slide__category': menuItem.headTitle,
                'slide has-sub': menuItem.title,
                'open': menuItem.active,
                'active': menuItem.selected
              }">

            <!-- Head title -->
            @if(menuItem.headTitle){
              <span class="category-name">{{ menuItem.headTitle }}</span>
            }

            <!-- LINK -->
            @if(menuItem.type === 'link'){
              <a class="side-menu__item"
                 [routerLink]="[menuItem.path]"
                 routerLinkActive="active"
                 (click)="setNavActive(menuItem); menuOpen()">

                @if(menuItem.icon){
                  <i class="side-menu__icon" [ngClass]="menuItem.icon"></i>
                }

                <span class="side-menu__label">
                  {{ menuItem.title }}
                  <span class="badge !bg-{{menuItem.badgeClass}}/10 !text-{{menuItem.badgeText}} ms-2">
                    {{ menuItem.badgeValue }}
                  </span>
                </span>
              </a>
            }

            <!-- EMPTY -->
            @if(menuItem.type === 'empty'){
              <a class="side-menu__item" href="javascript:;" (click)="setNavActive(menuItem)">

                @if(menuItem.icon){
                  <i class="side-menu__icon" [ngClass]="menuItem.icon"></i>
                }

                <span class="side-menu__label">{{ menuItem.title }}</span>
              </a>
            }

            <!-- SUB -->
            @if(menuItem.type === 'sub'){
              <a class="side-menu__item"
                 href="javascript:;"
                 (click)="toggleNavActive(menuItem)"
                 [ngClass]="{ active: menuItem.selected }">

                @if(menuItem.icon){
                  <i class="side-menu__icon" [ngClass]="menuItem.icon"></i>
                }

                <span class="side-menu__label">{{ menuItem.title }}</span>
                <i class="fe fe-chevron-right side-menu__angle"></i>
              </a>
            }

            <!-- CHILDREN -->
            @if(menuItem.children){
              <ul class="slide-menu child1"
                  [ngStyle]="{ display: menuItem.active ? 'block' : 'none' }">

                @for(child of menuItem.children; track $index){
                  <li class="slide">

                    <a class="side-menu__item"
                       [routerLink]="[child.path]"
                       routerLinkActive="active"
                       (click)="setNavActive(child)">
                      {{ child.title }}
                    </a>

                  </li>
                }
              </ul>
            }

          </li>
          }
        </ul>

        <div class="slide-right" id="slide-right">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
          </svg>
        </div>

      </nav>
    </ngx-simplebar>
  </div>

</aside>
